html{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body,#app{
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
*,*:before,*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
i{
  font-style: normal
}


/* 图谱节点UI */

.node {
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
}

.link {
  stroke: #777;
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
}
.link:hover{
stroke-width: 3px;
}
.node circle {
  stroke-width: 1.5px;
}

.node text {
  fill: #000;
  font-size: 18;
  font: 10px sans-serif;
}
.graph-detail .node text{
  display: none;
}

.node:hover circle {
  fill: #888;
}

.node:hover text {
  display: inline;
}

.cell {
  fill: none;
  pointer-events: all;
}